body {
  background-color: rgb(52, 52, 52);
}

#navContainer {
  border-radius: 2pt;
}

#navBar {
  background-color: rgb(230, 230, 230);
  color: rgb(24, 24, 24);
  font-family: Montserrat Light, sans-serif;
  font-size: 15pt;
}
