
body {
  background-color: white;
  font-family: Montserrat Light, sans-serif;
  position: relative;
}

#outerNavbar {
  background: transparent;
}

#navBar {
  background: transparent;
  font-size: 14pt;
  border: none;
}

#navBar .nav-link {
  color: white;
}

#navBar .nav-link:hover {
  color: gray;
}

#outerNavbar.scrolled {
  background-color: white;
  border-bottom: 2px solid rgb(16,54,91);
  color: rgb(99, 99, 99);
}

#navBar.scrolled {
  background: transparent;
  font-size: 14pt;
  color: rgb(97, 97, 97);
  border: none;
}

#navBar.scrolled .nav-link {
  color: rgb(101, 101, 101);
}

#navBar.scrolled .nav-link:hover {
  color: black;
}

#searchButton {
  background-color: gray;
  /* background: linear-gradient(to bottom right, blue, red); */
  color: white;
  border: white;
}

#section1 {
  position: relative;
}

.carousel-caption {
  text-align: left;
  right: auto;
  left: 6%;
  top:50%;
  transform: translateY(-50%);
}

#captionContainer {
  vertical-align: middle;
}

#section3 {
  background-color: rgb(236, 236, 236);
}

#section3Header {

}

.card {
  width: 700px;
}

.card-image-top {
height: 300px;
width: 300px;
}
