
/* Complete Stylesheet for Home Page (Bootstrap Code) */


/* General Body Design */
body {
  background-color: white;
  font-family: Montserrat Light, sans-serif;
  position: relative;
}



/* Initial Navbar Design */
#outerNavbar {
  background: transparent;
}

#navBar {
  background: transparent;
  font-size: 14pt;
  border: none;
}

#navBar .nav-link {
  color: white;
}

#navBar .nav-link:hover {
  color: gray;
}

#searchButton {
  background-color: gray;
  color: white;
}

#navToggler {
  color: white;
}




/* Scrolled Navbar Design */
#outerNavbar.scrolled {
  background-color: white;
  border-bottom: 1pt solid rgb(16,54,91);
  color: rgb(100, 100, 100);
}

#navBar.scrolled {
  background: transparent;
  font-size: 14pt;
  color: rgb(100, 100, 100);
  border: none;
}

#navBar.scrolled .nav-link {
  color: rgb(100, 100, 100);
}

#navBar.scrolled .nav-link:hover {
  color: black;
}

#searchButton.scrolled {
  background-color: transparent;
  color: rgb(100, 100, 100);
  border: none;
}

#navToggler.scrolled {
  color: rgb(100, 100, 100);
}

#twitterFeedDropdown {
  color: #1da1f2;
}

#twitterFeedIcon:hover {
  color: #1986c8;
}

#twitterFeedDropdown {
  height: 600px;
  overflow-y: auto;
}



#mingleNetSection {
  position: relative;
}

#mingleNetContainer {
    background: url("../public/img/NetworkFitted.jpg");
    color: white;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 120px;
<<<<<<< HEAD
    box-shadow: 0px 1px 10px grey;
=======
    box-shadow: 0px 3px 6px grey;
>>>>>>> 52323172c1f0e0a1cd0de3d05e68cd8d8f1d5964
}

.carousel-caption {
  text-align: left;
  right: auto;
  left: 6%;
  top:50%;
  transform: translateY(-50%);
}

#captionContainer {
  vertical-align: middle;
}

#infoSection2 {
<<<<<<< HEAD
  border-top: 1px solid rgb(180, 180, 180);
=======
>>>>>>> 52323172c1f0e0a1cd0de3d05e68cd8d8f1d5964
  background-color: rgb(236, 236, 236);
  border-top: 1px solid grey;
}

#infoCardSection {
<<<<<<< HEAD
  border-top: 1px solid rgb(180, 180, 180);
=======
  border-top: 1px solid grey;
>>>>>>> 52323172c1f0e0a1cd0de3d05e68cd8d8f1d5964
  padding-top: 50px;
  padding-bottom: 50px;
}

#headingRuler {
  width: 10%;
}

#infoCard {
<<<<<<< HEAD
  box-shadow: 0px 1px 6px 1px rgb(150, 150, 150);
}

#subscriptionSection {
  border-top: 1px solid rgb(180, 180, 180);
=======
  box-shadow: 0px 1px 5px 1px rgb(215, 215, 215);
}

#subscriptionSection {
  border-top: 1px solid grey;
>>>>>>> 52323172c1f0e0a1cd0de3d05e68cd8d8f1d5964
  background-color: rgb(236, 236, 236);
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

#subscribeButton {
  background-color: white;
  color: black;
}

#socialMediaSection {
<<<<<<< HEAD
  border-top:1px solid rgb(180, 180, 180);
=======
  border-top:1px solid grey;
>>>>>>> 52323172c1f0e0a1cd0de3d05e68cd8d8f1d5964
  padding-top: 50px;
  padding-bottom: 50px;
}

#footerSection {
<<<<<<< HEAD
  border-top: 1pt solid rgb(180, 180, 180);
=======
  border-top: 1pt solid grey;
>>>>>>> 52323172c1f0e0a1cd0de3d05e68cd8d8f1d5964
  background-color: rgb(70, 70, 70);
  color: white;
}

#readButton {
  align-self: center;
}

#socialMediaHeader {
  font-weight: bold;
}

#footerHeader {
  font-family: Montserrat Medium, sans-serif;
}

#footerLink {
  font-size: 11pt;
  color: rgba(230, 230, 230, 0.9);
}

#footerLink:hover {
  color: white;
  text-decoration: none;
}

#footerDivider {
  width: 100%;
  margin-right: 200px;
  border-top: 1px solid rgb(246, 246, 246);
  margin-top: 8px;
  margin-bottom: 8px;
}

#twitterLink {
  color: #1da1f2;
}

#facebookLink {
  color: #3b5998;
}

#instagramLink {
  color: #833ab4;
}

#redditLink {
  color: #ff4500;
}
