
/* Complete Stylesheet for Home Page (Bootstrap Code) */


/* General Body Design */
body {
  background-color: white;
  font-family: Montserrat Light, sans-serif;
  position: relative;
}



/* Initial Navbar Design */
#outerNavbar {
  background: transparent;
}

#navBar {
  background: transparent;
  font-size: 14pt;
  border: none;
}

#navBar .nav-link {
  color: white;
}

#navBar .nav-link:hover {
  color: gray;
}

#searchButton {
  background-color: gray;
  color: white;
}

#navToggler {
  color: white;
}




/* Scrolled Navbar Design */
#outerNavbar.scrolled {
  background-color: white;
  border-bottom: 1pt solid rgb(16,54,91);
  color: rgb(100, 100, 100);
}

#navBar.scrolled {
  background: transparent;
  font-size: 14pt;
  color: rgb(100, 100, 100);
  border: none;
}

#navBar.scrolled .nav-link {
  color: rgb(100, 100, 100);
}

#navBar.scrolled .nav-link:hover {
  color: black;
}

#searchButton.scrolled {
  background-color: transparent;
  color: rgb(100, 100, 100);
  border: none;
}

#navToggler.scrolled {
  color: rgb(100, 100, 100);
}





#section1 {
  position: relative;
}

#mingleNetContainer {
    background: url("../public/img/NetworkFitted.jpg");
    color: white;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 120px;
}

.carousel-caption {
  text-align: left;
  right: auto;
  left: 6%;
  top:50%;
  transform: translateY(-50%);
}

#captionContainer {
  vertical-align: middle;
}

#section3 {
  background-color: rgb(236, 236, 236);
}

#section4 {
  background-color: rgba(16, 54, 91, 0.8);
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

#subscribeButton {
  background-color: white;
  color: black;
}

#section5 {

}

#readButton {
  align-self: center;
}

#section6 {
  border-top: 1pt solid rgb(16,54,91);
  background-color: rgb(70, 70, 70);
  color: white;
}

#footerLink {
  font-size: 11pt;
  color: rgba(230, 230, 230, 0.9);
}

#footerDivider {
  width: 100%;
  border-top: 1px solid rgb(246, 246, 246);
  margin-top: 8px;
  margin-bottom: 8px;
}

#twitterLink {
  color: #1da1f2;
}

#facebookLink {
  color: #3b5998;
}

#instagramLink {
  color: #833ab4;
}

#redditLink {
  color: #ff4500;
}
