
body {
  background-color: white;
  font-family: Montserrat Light, sans-serif;
  position: relative;
}

#outerNavbar {
  background-color: rgb(16,54,91);
}

#navBar {
  background: transparent;
  font-size: 14pt;
  color: white;
  border: none;

}

.nav-link:hover {
  color: gray;
}

.nav-link {
  color: white;
}

#searchButton {
  background-color: gray;
  /* background: linear-gradient(to bottom right, blue, red); */
  color: white;
  border: white;
}

#section1 {
  position: relative;
}

.carousel-caption {
  text-align: left;
  top:50%;
  transform: translateY(-50%);
}

#captionContainer {
  vertical-align: middle;
}

.card {
  width: 700px;
}

.card-image-top {
height: 300px;
width: 300px;
}
